// http://css-tricks.com/fighting-the-space-between-inline-block-elements/
@if $overwrite-grid == true {
	.grid {
		letter-spacing: -0.31em;
	}

	.opera:-o-prefocus,
	.grid {
		word-spacing: -0.43em;
	}

	.grid__item {
		letter-spacing: normal;
		word-wrap: normal;
	}
}